:root {
    scrollbar-color: auto !important;
}
/* #region Globale */
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: rgb(3, 72, 98);
    border: 1px solid rgb(2, 114, 217);
}

/*body *:not(i) {
    font-family: 'Signika' !important;
}*/

/* #endregion */

/* #region hud */
#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
    color: #FFF;
    border: 1px solid #006eef;
    border-bottom: 1px solid #008cff;
    box-shadow: 0 0 10px #008cff;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    cursor: default;
    color: #FFF;
    border: 1px solid #006eef;
    background: rgba(52, 52, 52, 0.95);
    border-bottom: 1px solid #008cff;
    box-shadow: 0 0 10px #008cff;
}

#navigation #scene-list .scene li.scene-player {
    background-color: #008cff !important;
}

#logo {
    content: url("./ui/img/the-expanse-logo.png");
}

#pause {
    background: url("./ui/img/pause-back.png") no-repeat 50% 50%; 
}

.paused img {
    content: url("./ui/img/pause.png");
}

#players ol .player.context {
    border-top: 1px solid #008cff;
    border-bottom: 1px solid #008cff;
}

#players ol .player.context .player-name {
    text-shadow: 0 0 5px #008cff;
}

#hotbar .macro:hover {
    box-shadow: inset 0 0 6px #008cff; 
}

#hotbar .macro.active:hover {
    /*box-shadow: inset 0 0 6px #008cff;*/
    border: solid 1px #008cff;
}
/* #endregion */

/* #region Dialog */
.window-content .talents-box {
    color: black;
}

.window-app:not(.char-sheet-alt, .char, .spaceship) .window-content, .window-app:not(.char-sheet-alt, .char, .spaceship) .window-content .journal-entry-content, .window-app.sheet.item .window-content { 
    background: url("./ui/img/dialog-back.png");
    background-size: 100% 100% !important;
    color: white;
}

.window-app.journal-sheet .journal-entry-content, .window-app.journal-sheet form.editable {
    background-color: rgb(3, 72, 98);
}
    
.window-app .window-content .notes {
    color: #6aa1d4;
}

.window-app .window-content h3 {
    color: white;
}

.window-app .window-content #module-list .package-title {
    color: white;
    height: auto;
    font-weight: normal;
}

#world-config label, #keybindings .action .action-title {
    font-weight: normal;
}

.filepicker .display-modes a {
    border: 1px solid #7a7971;
    background: none; 
}

.filepicker .display-modes a.active {
    text-shadow: 0 0 6px #008cff;
    border: 1px solid #191813;
    background: #6aa1d4;
}

.window-app .window-content button:not(.tox-tbtn)  {
    background-image: url("./ui/img/button_top.png");
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color:  #01010100;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black;
}

.window-app .window-content button.default {
    background-image: url("./ui/img/button_top.png");
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color:  #01010100;
    border: 2px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black;
}

.window-app .window-content button:hover {
    box-shadow: inset 0 0 10px #0272d9;
}

.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type="text"], .window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type="date"], 
.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type="time"], .window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type="number"],
.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type="search"], .window-content textarea, .window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content select {
    background: white;
    box-shadow: inset 0 0 6px #0272d9;
    color: #013877;
}

.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type=checkbox] {
    content: url("./ui/img/switch_off.png");
    width:40px;
    height:16px;
}

.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type=checkbox]:checked {
    content: url("./ui/img/switch_on.png");
    filter: none;
    -webkit-filter: none;
    width:40px;
    height:16px;
}

.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type=checkbox] {
    content: url("./ui/img/switch_off.png");
    width:60px;
    height:24px;
}

.window-app:not(.char-sheet-alt, .char, .item, .spaceship) .window-content input[type=checkbox]:checked {
    content: url("./ui/img/switch_on.png");
    filter: none;
    -webkit-filter: none;
    width:60px;
    height:24px;
}

.item-stats input.item-card-title, .colorset-selection .char-sheet h1 input {
    background-image: url("./ui/img/title.png");
    background-color:  #01010100;
    background-position: center !important;
    background-size: 100% 100% !important;
    border-radius: 0px !important;
    color: white;
    font-weight: bold;
}

.window-app.sheet.char .window-content h1 input {
    color: white;
    margin: 1px;
}

.item-stats input.item-card-title:focus, .window-app.sheet.char .window-content h1 input:focus {
    box-shadow: 0 0 6px inset #008cff;
}

.item-stats .item-card-stats {
    background-color: #0b3f57 !important;
    /*
    margin: 2px;
    border-radius: 5px;
     */
}

.item-stats .item-card-stats img {
    border: none;
    width: 50px;
    height: 50px;
}

.item-stats .item-card-stats label {
    color: white;
}

.item-stats .item-card-stats input, .item-stats .item-card-stats select {
    background: white;
    color: #013877;
    margin: 1px;
}

.window-app.sheet.char .window-content input, .window-app.sheet.char .window-content textarea {
    color: #013877;
    margin: 1px;
}

.item-stats .item-card-stats input:focus, .item-stats .item-card-stats select:focus, .window-app.sheet.char .window-content input:focus {
    box-shadow: 0 0 6px #00c3ff;
}

.item-stats .item-card-desc {
    background-color: #01010100 !important;
    border: 10px solid transparent;
    border-image-source: url("./ui/img/item-desc-back.png");
    border-image-slice: 12 fill;
}

.item-stats .item-card-desc label {
    color: white;
}

.item-stats .item-card-desc .tox-tinymce {
    background-color: white;
}

.char-sheet .tabs {
    background-color: #01010100;
}

.item-stats .tabs a, .the-expanse.sheet.char.standard nav.add-sheet-tabs a.char {
    max-width: none;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 3px;
    height: 20px;
    background-image: url("./ui/img/tab.png");
    background-size: 100% 100% !important;
    background-color: #01010100 !important;
    color: rgb(192, 192, 192) !important;
}

.item-stats .tabs a.active, .the-expanse.sheet.char.standard nav.add-sheet-tabs a.char.active {
    border-top: 1px solid #008cff;
    border-bottom: 1px solid #008cff;
    color: white !important;
    font-weight: bold;
    border-radius: 0px;
}

.colorset-selection .colorset-first-tier {
    /*background-color: #2d4578;*/
    background-color: #0b3f57;
    color: white;
}

.colorset-selection .char-sheet .age-header label, .colorset-selection .char-sheet .persona label {
    /*background-color: #2d4578;*/
    background-color: #0b3f57;
    color: white;
}

.the-expanse.sheet.char.standard .col-1 .ability-box .owned-focus .item-name, .the-expanse.sheet.char.standard .item-container .item-box, .the-expanse.sheet.char.standard .item-container li.elements {
    background-color: #2d4578;
    color: white;
    border-radius: 3px;
}

.item-stats li.mod-item.header {
    color: white;
    background-color: #2d4578;
    border-radius: 5px !important;
}

.item-stats li.mod-item {
    background-color: white;
    color: #013877;
    border-radius: 5px !important;
}

.item-stats li.mod-item input:focus {
    box-shadow: 0 0 6px #013877;
}

.main-value.flexcol.armor {
    margin: 1px;
}
/* #endregion */


/* #region Sidebar */

#sidebar #sidebar-tabs button.fa-comments {
    background-image: url("./ui/img/speechbubble.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-swords {
    background-image: url("./ui/img/combat.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-map {
    background-image: url("./ui/img/scenes.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-user {
    background-image: url("./ui/img/actors.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-suitcase {
    background-image: url("./ui/img/items.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-book-open {
    background-image: url("./ui/img/journals.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-table-list {
    background-image: url("./ui/img/tables.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-code {
    background-image: url("./ui/img/macro.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-cards {
    background-image: url("./ui/img/cartes.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-music {
    background-image: url("./ui/img/music.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-book-atlas {
    background-image: url("./ui/img/compendiums.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-gears {
    background-image: url("./ui/img/settings.png") !important;
    color: transparent;
    width: 45px !important;
    height: 45px !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs button.fa-caret-right{
    background-image: url("./ui/img/right_arrow.png") !important;;
    color: transparent;
    width: 45px;
    height: 45px;
    background-size:30px 30px !important;
    background: center;
}

#sidebar #sidebar-tabs button.fa-caret-left{
    background-image: url("./ui/img/left_arrow.png") !important;
    color: transparent;
    width: 45px;
    height: 45px;
    background-size:30px 30px !important;
    background: center;
}

/*
#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 315px !important;
    height: 99vh;
    overflow: hidden;
    margin: 0;
    border: 10px solid transparent;
    box-sizing: border-box;
    box-shadow: -30 -30 25px outset #008cff;
    background: url("./ui/img/denim075.png") repeat;
}

#sidebar.collapsed {
    width: 60px !important;
    border: 5px solid transparent;
    border-image-slice: 35 fill;
    background-position: center !important;
    background-size: 100% 100%!important;
    box-sizing: border-box;
    box-shadow: -5 -5 25px inset #008cff;
}

#sidebar-tabs{
    text-align: center;
    flex-wrap: wrap !important
}

#sidebar #sidebar-tabs > .item {
    line-height: 0px;
}

#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid #006eff;
    box-shadow: 0 0 10px #008cff;
    --sidebar-tab-height: auto;
}
#sidebar-tabs > .item {
    line-height: 0px;
    height: 47px;
    border-radius: 5px;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: 1px solid #006eff;
    box-shadow: 0 0 6px inset #008cff;
}

#sidebar.collapsed #sidebar-tabs > .item.active {
    border-bottom: 1px solid #006eff;
    border-radius: 5px;
}
    */
/* #endregion */


/* #region Chat Tab */
.message {
    background-size: 100% 100% !important;
    background-image: url("./ui/img/chat-message-back.png");
    border: 2px solid #0272d9;
    color: white;
}

/*.message .editor-content {
    color: #b7c6ec;
}*/

.message-sender {
    color: white;
    font-weight: bold;
    border-bottom-color: #0272d9;
    text-decoration: underline;
    padding-left: 5px;
}

#chat-message {
    color: white;
    background-size: 100% 100% !important;
    padding-left: 5px;
    padding-top: 7px;
    background-image: url("./ui/img/chat-win-back.png") !important;
}

.message-content button {
    color: white;
}

.chat-message .message-timestamp, .chat-message i {
    color: white;
}

textarea:focus {
    box-shadow: 0 0 6px #006eff;
    outline: none;
}

.polyglot-lang-select select {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 0px;
    background: url("./ui/img/chat-win-back.png") repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    color: #FFF;
    margin-top: -10px;
}

.roll-type-select{
    color: #006eff;
    text-align: left;
    margin-bottom: 20px;
}

#chat-controls .control-buttons{
    color: white;
}

#sidebar .sidebar-tab #chat-controls select.roll-type-select {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: white;
    /*background: url("./ui/img/chat-message-back.png") repeat;*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 6px #0272d9;
    /*border-image: url("./ui/img/chat-controls-border.png") 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;*/
    color: #013877;
}

/* TODO - Boutons commencer et terminer le combat */
/* #combat-controls .combat-control{
    background-image: url(./ui/img/TO_DEFINE.png);
    text-align: center;
    background-position: center !important;
    background-size: 260px 100%!important;
    background-repeat: no-repeat;
} */
/* #endregion*/

/* #region Sidebar Folder and widgets*/

.sidebar-tab .directory-header search input {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: white;
    /*background: url("./ui/img/chat-message-back.png") repeat;*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 6px #0272d9;
    /*border-image: url("./ui/img/chat-controls-border.png") 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;*/
    color: #013877;

}

.header-search{
    padding-bottom: 8px;
}
.fa-sort-amount-up, .fa-search{
    color: white;
}

.sidebar-tab .directory-header button, #settings button, #settings a.button {
    background-image: url("./ui/img/button_top.png");
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color:  #01010100;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black;
}

.sidebar-tab .directory-footer button {
    background-image: url("./ui/img/button_bottom.png");
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color:  #01010100;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black;
}

.sidebar-tab .directory-header button:hover, .sidebar-tab .directory-footer button:hover, 
#settings button:hover, #settings button:focus {
    box-shadow: inset 0 0 10px #0272d9;
}

/* #endregion */

/* #region Folders as buttons */
.sidebar-tab .folder .folder-header {
    background-image: url("./ui/img/button_normal.png")  !important;
    text-align: left !important;
    background-position: bottom !important;
    background-size: 100% 80%!important;
    background-repeat: no-repeat !important;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .directory-list .directory.item h3 {
    text-align: left !important;
    padding-left: 25px;
}

#sidebar section.sidebar-directory ol.directory-list li.directory-item.folder header {
    align-items: baseline;
    text-align: left !important;
    padding-left: 25px;
}
.subdirectory .folder {
    border-left: 2px solid #585858 !important;
}

.directory .directory-list .directory-item.context, .directory .directory-list .directory-item.active {
    border-color: #008cff;
}
/* #endregion */

/* #region Compendium headers */
#settings h4 {
    height: 55px;
    background: url("./ui/img/button_compedium.png") no-repeat;
    background-position-x: 0%;
    background-size: 100% 100%;
    border: 0px solid;
    color: #eeede0;
    text-shadow: 2px 2px 4px #000000;
}

#compendium ol.compendium-list {
    padding-left: 25px;;
}
/* #endregion */

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS) */
#chat-log {
    border: 10px solid transparent;
    border-image-source: url("./ui/img/chat-panel.png");
    border-image-slice: 16 fill;
}

#chat-log .message.whisper {
    font-style: italic;
    background-size: 100% 100% !important;
    background-image: url("./ui/img/chat-message-back.png");
}

#chat-log .message.whisper .message-header .message-metadata::before {
    color: white;
    content: "[ Privé ]";
    float: left;
}

#chat-log .message.blind .message-header .message-metadata::before {
    color: white;
    content: "[ Aveugle ] " !important;
    float: left;
}

/* .colorset-selection .roll-mod {
    border-bottom: 1px solid white;
}
 */

.colorset-select-one .colorset-first-tier {
    color: #b7c6ec;
    background-image: url("./ui/img/chat-message-back.png");
}

.colorset-select-one .item-desc.colorset-first-tier { 
    color: white;
}

.colorset-selection .action-details.colorset-first-tier, .colorset-selection .roll-mod.stunted,
.colorset-select-one .item-type.colorset-third-tier, .colorset-select-one .footer.colorset-third-tier {
    background-image: url("./ui/img/button_top.png")  !important;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color: #01010100; 
    border : 0px;
    color: #b7c6ec; 
    padding: 10px 0;
    
    h3, h4 {
        margin: 0;
        text-align: center;
        color: #b7c6ec;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1em;
        text-transform: lowercase;
        font-variant: small-caps;
    }
}

.roll-mod.total-roll {
    padding: 5px 0;

    h3 {
        font-size: 1.25em;
        margin: 0;
        color: white;
        margin: 2px;
    }
}

.roll-mod .line-value {
    text-align: right;
}

.flavor-text {
    color: #b7c6ec; 
}

.feature-controls .roll-chart .roll-dice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* #endregion */